<h5 class="card-title">Resultado</h5>
<p class="card-text" style="margin-bottom: 30px;">Este es el resultadodel cuestionario</p>
<div *ngFor="let item of listPreguntas; let i = index" style="margin-bottom: 50px;">
    <h4 class="card-title">{{item.descripcionPregunta}}</h4>  
    <ul class="list-group">
        <ng-container *ngFor="let respuesta of listPreguntas[i].respuestas; let j = index">
            <li class="list-group-item" [ngClass]="{
                'list-group-item-success': respuesta.esCorrecta == 1 && resultadoRespuestas[i] == j, 
                'list-group-item-danger': respuesta.esCorrecta == 0 && resultadoRespuestas[i] == j
            }">
            {{j}}
                {{respuesta.nombre}}
                <span class="badge"  >
                    <i class="material-icons correct" *ngIf="respuesta.esCorrecta == 1 && resultadoRespuestas[i] == j"> check_circle</i>
                 </span>
                 <span class="badge"  >
                    <i class="material-icons incorrect" *ngIf="respuesta.esCorrecta == 0 && resultadoRespuestas[i] == j"> clear</i>
                 </span>
            </li>
        </ng-container>        
    </ul>
</div>


<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-12 ol-sm-12 col-xs-12">
        <button class="btn btn-info btn-lg btn-block" (click)="volver()">Volver</button>
    </div>    
</div>

